body {
    background-color: black;
    color: white;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    margin: 100px;
    margin-bottom: 50px;
}

#container {
    max-width: 900px;
    margin: auto;
}

h1 {
    font-size: 80px;
    margin-top: 90px;
    margin-bottom: 60px;
}

#footer {
    opacity: 0.5;
    font-size: 14px;
    margin-top: 120px;
}

img {
    opacity: 1;
    vertical-align: middle;
    margin: 25px;
}

img:hover {
    opacity: 0.8;
}

#logo {
    margin: 0px;
}

#logo:hover {
    opacity: 1;
}

a { 
    text-decoration: none;
    outline: none;
}





@media (max-width: 980px) {
    body {
        margin: 70px;
    }
    h1 {
        font-size: 60px;
        margin-top: 70px;
    }
    img {
        margin: 14px;
    }
    #logo {
        margin-top: 20px;
    }
}

@media (max-width: 722px) {
    body {
        margin: 30px;
    }
    h1 {
        font-size: 40px;
        margin-top: 50px;
    }
    img {
        margin: 10px;
    }
    #logo {
        margin-top: 20px;
    }
}

@media (max-width: 370px) {
    body {
        margin: 20px;
    }
    h1 {
        font-size: 26px;
        margin-top: 40px;
    }
    img {
        margin: 10px;
    }
    #logo {
        margin-top: 20px;
    }
}