.Card {
    display: inline-block;
    width: 430px;
    background-color: black;
    background-position: center;
    background-size: cover;
    border-radius: 6px;
}

.Tint {
    background-color: rgba(0,0,0,0.3);
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 0;
}

.Content {
    margin: 63px 40px 63px 40px;
    position: relative;
    z-index: 1;
    text-shadow: 0 4px 30px rgba(0,0,0,0.4);
    letter-spacing: 1px;
}

.Description {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 8px;
    text-shadow: 0 5px 40px black;
}

.Title {
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 14px;
}